@font-face {
  font-family: f1;
  src: url(https://visuals.brybry.co/css/main.min.css);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: gilroy; */
}
html,
body {
  width: 100%;
  height: 100%;
}
svg {
  fill: currentColor;
  height: 10vw;
  max-width: 66vmin;
  transform-origin: center;
  width: 10vw;
}
/* *::-webkit-scrollbar{
    display: none;
} */
#maincircle {
  /* background-color: red; */
  position: absolute;
  z-index: 99999;
  color: rgb(255, 240, 40);
}

#cur
{
    position: absolute;
    height: 90px;
    width: 90px;
    z-index: 999999;
}
#cur img
{
    height: 100%;
    width: 100%;
}
#overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 9999999999;
  background-color: rgb(255, 240, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}
#overlay img
{
    height: 150px;
    color: black;
    width: 150px;
}
#main {
  overflow-x: hidden;

  position: relative;
}
#page1 {
  background-color: rgb(120, 161, 156);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: white;
}
.left {
  /* height: 90vh; */
  width: 30vw;
  /* color: red; */
  /* background-color: red; */
  position: relative;
}
.left h1 {
  font-size: 32vw;
  font-family: gilroy;
  font-weight: 300;
  /* color:white; */
  /* color:rgb(255,240,40); */
  position: absolute;
  /* padding: -91vw 0vh 0vw 0vw; */
  top: -5vh;
  left: -15vh;
}
.pg1arrow
{
  position: absolute;
  bottom: -3%;
  left: 45%;
  text-align: center;
  /* background-color: rgba(255, 255, 0, 0.388); */
  overflow: hidden;
  z-index: 999;
  
}
.pg1arrow h2
{
  position: relative;
  top:90px;
  text-align: center;
  font-size: 40px;
  
}
.pg1arrow img
{
  position: relative;
  top:90px;
  text-align: center;
  font-size: 40px;
  
}
#middle {
  /* height: 60vh; */
  z-index: 99999999;
  width: 60vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
}
#middle img {
  height: 60vh;
  width: 60vw;
  object-fit: cover;
}
.rtop {
  height: 7vh;
  width: 20vw;
  top: 8%;

  right: 0.3%;
  position: relative;
  /* background-color: red; */
}
.rtop h1 {
  font-size: 3vh;
  font-family: f1;
  font-weight: 100;
  /* color: white; */
}
.rdown {
  /* height: 20vh; */

  /* background-color: red; */
  position: relative;
  top: 15%;
}
.RY {
  font-size: 15vh;
  padding-left: 60px;
}
.Design h1 {
  font-size: 12vh;
  position: relative;
  padding-left: 29%;
  line-height: 12vh;
}
.n22 h1 {
  margin-top: -120px;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-left: -30px;
  font-size: 41vh;
  font-weight: 100;
  font-family: gilroy;
}
/* ------------------pg2------------------- */
#page2
{
  min-height: 100vh;
  width: 100vw;
  /* background-color: aqua; */
  display: flex;
}
#pg2left
{
  height: 100vh;
  width: 25vw;
  background-color: #382662;
  position: relative;
}
.pg2h1{
  
  /* background-color: wheat; */
  width: 10vw;
  height: 100vh;
  /* background-color: #382662; */
  position: relative;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: start;
}
.pg2h1  h1
{
  transform: rotate(-90deg);
  font-size: 80px;
  color: #F188FA;
  margin-left: -12vw;
  
}
#pg2right
{
  height: 100vh;
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #382662;
  
}
.pg2-vdo
{
  height: 100vh;
  width: 70vw;
  background-color: green;
   overflow-y: scroll;
  
}
.pg2-vdo::-webkit-scrollbar
{
  scrollbar-width: 2px;
}


.pg2-videos
{
  height: 85vh;
  width: 70vw;
}.pg2-videos video

{
  height: 100%;
  width: 100%;
}





























/* =========================================================================================================================== */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ___________________________________________________________________________________________________________________ */

@media screen and (max-width: 800px) {
    


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: gilroy; */
}
html,
body {
  width: 100%;
  height: 100%;
}
svg {
  fill: currentColor;
  height: 10vw;
  max-width: 66vmin;
  transform-origin: center;
  width: 10vw;
}
#page1::-webkit-scrollbar{
    display: none;
}
#maincircle {
  /* background-color: red; */
  position: absolute;
  z-index: 99999;
  color: rgb(255, 240, 40);
}

#cur
{
    position: absolute;
    height: 90px;
    width: 90px;
    z-index: 999999;
}
#cur img
{
    height: 100%;
    width: 100%;
}
#overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99999999999999999999;
  background-color: rgb(255, 240, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}
#overlay img
{
    height: 150px;
    color: black;
    width: 150px;
}

#main {
  overflow-x: hidden;

  position: relative;
}
#page1 {
  background-color: rgb(120, 161, 156);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: white;
}
.left {
  /* height: 90vh; */
  width: 30vw;
  /* color: red; */
  /* background-color: red; */
}
.left h1 {
  font-size: 50vw;
  font-family: gilroy;
  font-weight: 100;
  /* color:white; */
  /* color:rgb(255,240,40); */
  position: absolute;
  /* padding: -91vw 0vh 0vw 0vw; */
  top: 4vh;
  left: 29vh;
}
#middle {
  /* height: 60vh; */
  z-index: 99999;
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
}
#middle img {
  height: 50vh;
  width: 90vw;
  object-fit: cover;
}
.rtop {
  height: 7vh;
  width: 50vw;
  top: 3%;

  right: 0.3%;
  position: relative;
  /* background-color: red; */
}
.rtop h1 {
  font-size: 2vh;
  font-family: f1;
  font-weight: 100;
  /* color: white; */
}
.rdown {
  /* height: 20vh; */

  /* background-color: red; */
  position: relative;
  top: 15%;
}
.RY {
  font-size: 15vh;
  padding-left: 60px;
  /* display: none; */
}
.Design h1 {
    font-size: 12vh;
    /* display: none; */
  position: relative;
  padding-left: 29%;
  line-height: 12vh;
}
.n22 h1 {
  margin-top: -120px;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-left: -30px;
  font-size: 41vh;
  font-weight: 100;
  font-family: gilroy;
}




  }